@model CustomerDocumentDetailModel
<li class="list-group-item">
    @using (Html.BeginCollectionItem("Documents")) {
        <button type="button" class="btn btn-sm btn-danger collection-remove float-right" onclick="removeCollectionItem(this);" data-for=".list-group-item"><i class="fas fa-trash-alt"></i></button>
        <partial name="_AuditInformation" for="@Model" />
        <input type="hidden" asp-for="CustomerId" />
        <div class="form-row">
            <div class="form-group col-6">
                <label asp-for="ExpirationDate">Expiration Date</label>
                <input asp-for="ExpirationDate" class="form-control form-control-sm" type="date" />
            </div>
            <partial name="_Document" for="Document" view-data="new ViewDataDictionary(ViewData) { { ViewDataKeys.UploadModule,UploadModules.CustomerDocument},{ ViewDataKeys.Readonly,bool.TrueString} }" />
        </div>
    }
</li>