@model List<FormItemModel>
<div class="table-responsive table-fadein mt-3">
    <table class="table table-hover table-bordered table-sm table-datatable">
        <thead>
            <tr>
                <th>Name</th>
                <th>Form Type</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model) {
                <tr class="clickable" onclick="window.location='@Url.Action(nameof(FormController.Detail),"Form",new { id = item.CustomerDetailFormId})'">
                    <td>@item.Name</td>
                    <td>@item.Type.ToString()</td>
                    <td>@item.Status.ToString()</td>
                </tr>
            }
        </tbody>
    </table>
</div>

