@model CustomerSubscriptionDetailModel

@using (Html.BeginCollectionItem("SubscriptionConfiguration.Subscriptions")) {
    <div class="form-check">
        <partial name="_AuditInformation" for="@Model"/>
        <input type="checkbox" class="form-check-input" asp-for="IsSelected">
        <label class="form-check-label">@Model.Configuration.Title</label>
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="CustomerId" />
        <input type="hidden" asp-for="Configuration.Id" />
    </div>
}