@model CustomerAddressDetailModel
<li class="list-group-item m-3">
    @using (Html.BeginCollectionItem("Addresses")) {
        <button type="button" class="btn btn-sm btn-danger collection-remove float-right" onclick="removeCollectionItem(this);" data-for=".list-group-item"><i class="fas fa-trash-alt"></i></button>
        <partial name="_AuditInformation" for="@Model" />
        <input type="hidden" asp-for="CustomerId" />
        <div class="row">
            <div class="col-sm-12 col-md-6 pl-0">
                <div class="form-group">
                    <label asp-for="Type"></label>
                    <select asp-for="Type" asp-items="@ListUtility.GetAddressTypes()" class="form-control form-control-sm"></select>
                </div>
            </div>
        </div>
        <partial name="_Address" for="Address" />
    }
</li>