@model ItemConfigurationDetailModel
<li class="list-group-item">
    @using (Html.BeginCollectionItem("ItemConfigurations")) {
        <input type="hidden" asp-for="ItemId" />
        <input type="hidden" asp-for="CustomerId" />
        <partial name="_AuditInformation" for="@Model" />
        <div class="form-row">
            <div class="col">
                <label asp-for="ItemName">Material</label>
                <input type="text" readonly="readonly" asp-for="ItemName"  class="form-control"/>
            </div>
            <div class="col">
                <label asp-for="Price">Price</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">$</div>
                    </div>
                    <input type="number" readonly="readonly" asp-for="Price"  class="form-control"/>
                </div>
            </div>
            <div class="col">
                <label asp-for="MinimumAmount">Minimum Amount</label>
                <input type="number" readonly="readonly" asp-for="MinimumAmount" class="form-control"/>
            </div>
            <div class="col">
                <label asp-for="MaximumAmount">Maximum Amount</label>
                <input type="number" readonly="readonly" asp-for="MaximumAmount" class="form-control"/>
            </div>
        </div>
        <button type="button" class="btn btn-danger mt-5" onclick="removeCollectionItem(this);" data-for=".list-group-item">Remove</button>
    }
</li>