@model CustomerAddressDetailModel
<li class="list-group-item add-collection-item shadow border-0 m-3">
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Billing/Shipping</label>
        <select asp-for="Type" asp-items="@ListUtility.GetAddressTypes()" class="form-control form-control-sm w-25"></select>
    </div>
    <partial name="_Address" model="new AddressDetailModel()"/>
    <button type="button" class="btn btn-sm btn-success" onclick="addCustomerAddress(this)" data-url="@Url.Action(nameof(CustomerController.AddCustomerAddress))" data-target="#customer-address-list">Add New Address</button>
</li>
