@model CustomerInstitutionDetailModel
    <li class="list-group-item">
        @using (Html.BeginCollectionItem("Institutions")) {
            <button type="button" class="btn btn-sm btn-danger collection-remove float-right" onclick="removeCollectionItem(this);" data-for=".list-group-item"><i class="fas fa-trash-alt"></i></button>
            <partial name="_AuditInformation" for="@Model" />
            <input type="hidden" asp-for="CustomerId" />
            <input type="hidden" asp-for="InstitutionId" />
            <partial name="_Institution" for="Institution" />
        }
    </li>