@model CustomerDetailModel
<div class="form-group">
    <label asp-for="Status">Status</label>
    <select asp-for="Status" asp-items="ListUtility.GetCustomerStatuses()" class="form-control"></select>
    <span asp-validation-for="Status" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="InternalNotes">Internal Notes</label>
    <textarea asp-for="InternalNotes" class="form-control"></textarea>
    <span asp-validation-for="InternalNotes" class="text-danger"></span>
</div>
<partial name="_CustomerItemList" for="ItemConfigurations" />