@inject IConfiguration Configuration
@model CustomerDetailModel
@{
    ViewData[ViewDataKeys.Title] = "Edit Customer";
}
<form asp-action="@nameof(CustomerController.Edit)" asp-controller="Customer" method="get">
    <partial name="_CustomerForm" for="@Model" />
</form>
@section Scripts{
    <script type="text/javascript" src="@Configuration["FileUploadUri"]"></script>
    <script src="~/js/customer.js"></script>
}