@inject IConfiguration Configuration
@model CustomerDetailModel
@{
    ViewData[ViewDataKeys.Title] = "My Profile";
}

<form asp-action="@nameof(CustomerController.MyProfile)" asp-controller="Customer" method="post">
    <partial name="_CustomerForm" for="@Model" />
</form>
@section Scripts{
    <script type="text/javascript" src="@Configuration["FileUploadUri"]"></script>
    <script src="~/js/customer.js"></script>
}