@model ShipmentDetailModel
@{
    ViewData[ViewDataKeys.Title] = "Edit Shipment";
}
<form method="post" asp-action="@nameof(ShipmentController.Edit)" asp-controller="Shipment">
    <partial name="_ShipmentForm" for="@Model" />
</form>
