@model ContactDetailModel

@if (ViewData.IsReadonly()) {
    <div class="form-row">
        <div class="form-group col-4">
            <label asp-for="FirstName">First Name</label>
            <input asp-for="FirstName" class="form-control form-control-sm" readonly/>
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
        <div class="form-group col-4">
            <label asp-for="LastName">Last Name</label>
            <input asp-for="LastName" class="form-control form-control-sm" readonly/>
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
        <div class="form-group col-4">
            <label asp-for="Email">Email</label>
            <input asp-for="Email" class="form-control form-control-sm" readonly/>
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-4">
            <label asp-for="PhoneNumber">Phone Number</label>
            <input asp-for="PhoneNumber" class="form-control form-control-sm" readonly/>
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        </div>
        <div class="form-group col-4">
            <label asp-for="Fax">Fax</label>
            <input asp-for="Fax" class="form-control form-control-sm" readonly/>
            <span asp-validation-for="Fax" class="text-danger"></span>
        </div>
    </div>
}
else {
    <div class="form-row">
        <div class="form-group col-4">
            <label asp-for="FirstName">First Name</label>
            <input asp-for="FirstName" class="form-control form-control-sm" />
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
        <div class="form-group col-4">
            <label asp-for="LastName">Last Name</label>
            <input asp-for="LastName" class="form-control form-control-sm" />
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
        <div class="form-group col-4">
            <label asp-for="Email">Email</label>
            <input asp-for="Email" class="form-control form-control-sm" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-4">
            <label asp-for="PhoneNumber">Phone Number</label>
            <input asp-for="PhoneNumber" class="form-control form-control-sm" />
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        </div>
        <div class="form-group col-4">
            <label asp-for="Fax">Fax</label>
            <input asp-for="Fax" class="form-control form-control-sm" />
            <span asp-validation-for="Fax" class="text-danger"></span>
        </div>
    </div>
}