@model DocumentDetailModel
<input type="hidden" asp-for="UploadId" />
<div class="form-group">
    <label asp-for="Name">Document Name</label>
    <input asp-for="Name" class="form-control" />
    <span asp-validation-for="Name" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Details">Details</label>
    <textarea asp-for="Details" class="form-control" rows="3"></textarea>
    <span asp-validation-for="Details" class="text-danger"></span>
</div>
@if (ViewData[ViewDataKeys.Readonly] == null) {
    <div class="document-upload" data-module="@ViewData[ViewDataKeys.UploadModule]" data-entityid="@Model.UploadId.ToString()"></div>
}
else {
    <div class="document-upload" data-module="@ViewData[ViewDataKeys.UploadModule]" data-entityid="@Model.UploadId.ToString()" data-readonly="ViewData[ViewDataKeys.Readonly]"></div>
}
