@model InstitutionItemModel
<div class="form-row align-items-center">
    <div class="col-auto">
        <div class="input-group input-group-sm">
            <div class="input-group-prepend">
                <div class="input-group-text"><i class="fas fa-building"></i></div>
            </div>
            <input asp-for="Id" type="hidden" />
            <input asp-for="Name" readonly class="form-control form-control-sm" />
        </div>
    </div>
</div>

