@model InstitutionDetailModel
<partial name="_AuditInformation" />
<div class="form-group">
    <label asp-for="Name">Name</label>
    <input asp-for="Name" class="form-control" />
    <span asp-validation-for="Name" class="text-danger"></span>
</div>
<h6 class="mb-2 text-muted"><i class="fas fa-home pr-1"></i>Institution Address</h6>
<partial name="_Address" for="Address" />
<div class="row">
    <div class="col-6">
        <h6 class="mb-2 text-muted"><i class="fas fa-id-card pr-1"></i>Safety Contact Information</h6>
        <partial name="_Contact" for="SafetyContact" />
    </div>
    <div class="col-6">
        <h6 class="mb-2 text-muted"><i class="fas fa-id-card pr-1"></i>Financial Contact Information</h6>
        <partial name="_Contact" for="FinancialContact" />
    </div>
</div>