@model ItemConfigurationDetailModel
<partial name="_AuditInformation" for="@Model" />
<div class="form-row">
    @if (Model.MinimumAmount.HasValue) {
        <div class="form-group col-3">
            <label asp-for="MinimumAmount">Minimum Amount Required</label>
            <input class="form-control" readonly="readonly" asp-for="MinimumAmount" />
        </div>
    }
    @if (Model.MaximumAmount.HasValue) {
        <div class="form-group col-3">
            <label asp-for="MaximumAmount">Maximum Amount Allowed</label>
            <input class="form-control" readonly="readonly" asp-for="MaximumAmount" />
        </div>
    }
    <div class="form-group col-3">
        <label asp-for="MaximumAmount">Price</label>
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text">$</div>
            </div>
            <input type="number" readonly="readonly" asp-for="Price" class="form-control" />
        </div>
    </div>
</div>
