<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="reportDropDown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Admin
    </a>
    <div class="dropdown-menu bg-dark" aria-labelledby="reportDropDown">
        <a class="nav-link" asp-controller="Report" asp-action="ArchiveReport">Manage Items</a>
        <a class="nav-link" asp-controller="Report" asp-action="ArchiveReport">Manage Institutions</a>
    </div>
</li>