@inject IIsotopeOrderingAuthorizationService AuthorizationService
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="orderDropDown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-boxes"></i>
        Orders
    </a>
    <div class="dropdown-menu bg-dark" aria-labelledby="orderDropDown">
        <a class="dropdown-item" asp-controller="Order" asp-action="@nameof(OrderController.Create)">
            <i class="fas fa-plus"></i>
            Create Order
        </a>
        <a class="dropdown-item" asp-controller="Order" asp-action="@nameof(OrderController.Index)">
            <i class="fas fa-boxes"></i>
            View My Orders
        </a>
        @if (await AuthorizationService.AuthorizeAsync(User, Policies.ReviewerPolicy)) {
            <a class="dropdown-item" asp-controller="Order" asp-action="@nameof(OrderController.Center)">
                <i class="fas fa-warehouse"></i>
                Manage Orders
            </a>
        }
    </div>
</li>