@inject IIsotopeOrderingAuthorizationService AuthorizationService
@inject ICustomerManager CustomerManager
@{
    CustomerItemModel? customer = await CustomerManager.GetCurrentCustomer();
}
@if (customer != null) {
    <li class="nav-item">
        <a class="nav-link" asp-controller="Customer" asp-action="@nameof(CustomerController.MyProfile)">
            <i class="fas fa-user"></i>
            My Profile
        </a>
    </li>
    @if (!customer.IsChild) {
        <li class="nav-item">
            <a class="nav-link" asp-controller="Customer" asp-action="@nameof(CustomerController.MyTeam)">
                <i class="fas fa-users"></i>
                View My Team
            </a>
        </li>
    }
}
@if (await AuthorizationService.AuthorizeAsync(User, Policies.ReviewerPolicy)) {
    <div class="dropdown-divider"></div>
    <li class="nav-item">
        <a class="nav-link" asp-controller="Customer" asp-action="@nameof(CustomerController.ManageCustomers)">
            <i class="fas fa-users-cog"></i>
            Manage Customers
        </a>
    </li>
}