@inject IIsotopeOrderingAuthorizationService AuthorizationService
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="orderDropDown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-truck"></i>
        Shipments
    </a>
    <div class="dropdown-menu bg-dark" aria-labelledby="orderDropDown">
        <a class="dropdown-item" asp-controller="Shipment" asp-action="@nameof(ShipmentController.MyShipmnents)">
            <i class="fas fa-boxes"></i>
            View My Shipments
        </a>
        @if (await AuthorizationService.AuthorizeAsync(User, Policies.ReviewerPolicy)) {
            <a class="dropdown-item" asp-controller="Shipment" asp-action="@nameof(ShipmentController.Center)">
                <i class="fas fa-warehouse"></i>
                Manage Shipments
            </a>
        }
    </div>
</li>