@model ItemDetailModel
@{
    ViewData[ViewDataKeys.Title] = "Create Item";
}
<form asp-action="@nameof(ItemController.Create)" asp-controller="Item" method="post">
    <partial name="_ItemForm" for="@Model" />
</form>
