<div class="jumbotron jumbotron-fluid">
    <div class="container" style="text-align:center;">
        <i class="far fa-edit float-left text-info" style="font-size: 6rem;"></i>
        <h1 class="display-4">Before you begin</h1>
        <p class="lead">You are required to fill out the MTA (Material Transfer Agreement) form before proceeding with ordering.</p>
        <p class="lead">Please click <a asp-action="@nameof(FormController.InitiationForm)" asp-controller="Form">here</a> to complete the MTA</p>
        <p class="lead">Once complete, you will be notified via email when you MTA has been accepted.</p>
    </div>
</div>