@model dynamic
<table>
    <tr>
        <td>Description</td>
        <td>@Model?.Description</td>
    </tr>
    <tr>
        <td>Time</td>
        <td>@Model?.EventDateTime</td>
    </tr>
    <tr>
        <td>Id</td>
        <td>@Model?.EntityId</td>
    </tr>
</table>
