@model FormInitiationDetailModel
@if (Model.Req) {
    <p>Please provide the email address of your supervisor for counter signature:</p>
    <div class="form-group row">
        <label asp-for="CustomerAdminSignature.Email" class="col-sm-3 col-form-label">Supervisor Email Address</label>
        <div class="col-sm-9">
            <input type="text" class="form-control form-control-sm" asp-for="CustomerAdminSignature.Email">
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="CustomerAdminSignature.PhoneNumber" class="col-sm-3 col-form-label">Supervisor Phone Number</label>
        <div class="col-sm-9">
            <input type="text" class="form-control form-control-sm" asp-for="CustomerAdminSignature.PhoneNumber">
        </div>
    </div>
}
else {
    <div class="form-group row">
        <label asp-for="CustomerAdminSignature.Email" class="col-sm-3 col-form-label">Supervisor Contact Email</label>
        <div class="col-sm-9">
            <input type="text" class="form-control form-control-sm" readonly asp-for="CustomerAdminSignature.Email">
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="CustomerAdminSignature.PhoneNumber" class="col-sm-3 col-form-label">Supervisor Contact Phone Number</label>
        <div class="col-sm-9">
            <input type="text" class="form-control form-control-sm" readonly asp-for="CustomerAdminSignature.PhoneNumber">
        </div>
    </div>
}
@if (Model.RequiresSignatureFromCustomerAdmin) {
    <div class="form-group row mb-3">
        <label asp-for="CustomerAdminSignature.Signature" class="col-sm-2 col-form-label">Sign Below:</label>
        <div class="col-sm-12">
            <div id="signature" class="shadow"></div>
        </div>
    </div>
    <div class="form-row mt-4">
        <div class="col">
            <label asp-for="CustomerAdminSignature.PrintedName">Printed Name</label>
            <input asp-for="CustomerAdminSignature.PrintedName" class="form-control form-control-sm" />
        </div>
        <div class="col">
            <label asp-for="CustomerAdminSignature.Position">Printed Name</label>
            <input asp-for="CustomerAdminSignature.Position" class="form-control form-control-sm" />
        </div>
        <div class="col">
            <label asp-for="CustomerAdminSignature.Date">Signed Date</label>
            <input asp-for="CustomerAdminSignature.Date" class="form-control form-control-sm" type="date" />
        </div>
    </div>
}
@if (Model.ShowSignatureFromCustomerAdmin) {
    <div class="form-group row mb-3">
        <label asp-for="CustomerAdminSignature.Signature" class="col-sm-2 col-form-label">Sign Below:</label>
        <div class="col-sm-12">
            <div id="signature" class="shadow"></div>
        </div>
    </div>
    <div class="form-row mt-4">
        <div class="col">
            <label asp-for="CustomerAdminSignature.PrintedName">Printed Name</label>
            <input asp-for="CustomerAdminSignature.PrintedName" readonly class="form-control form-control-sm" />
        </div>
        <div class="col">
            <label asp-for="CustomerAdminSignature.Position">Printed Name</label>
            <input asp-for="CustomerAdminSignature.Position" class="form-control form-control-sm" />
        </div>
        <div class="col">
            <label asp-for="CustomerAdminSignature.Date">Signed Date</label>
            <input asp-for="CustomerAdminSignature.Date" readonly class="form-control form-control-sm" type="date" />
        </div>
    </div>
}
@if (Model.RequiresSignatureFromAdmin) {
    <div class="form-group row mb-3">
        <label asp-for="AdminSignature.Signature" class="col-sm-2 col-form-label">Sign Below:</label>
        <div class="col-sm-12">
            <div id="signature" class="shadow"></div>
        </div>
    </div>
    <div class="form-row mt-4">
        <div class="col">
            <label asp-for="AdminSignature.PrintedName">Printed Name</label>
            <input asp-for="AdminSignature.PrintedName" class="form-control form-control-sm" />
        </div>
        <div class="col">
            <label asp-for="AdminSignature.Date">Signed Date</label>
            <input asp-for="AdminSignature.Date" class="form-control form-control-sm" type="date" />
        </div>
    </div>
}
@if (Model.ShowSignatureFromAdmin) {
    <div class="form-group row mb-3">
        <label asp-for="AdminSignature.Signature" class="col-sm-2 col-form-label">Sign Below:</label>
        <div class="col-sm-12">
            <div id="signature" class="shadow"></div>
        </div>
    </div>
    <div class="form-row mt-4">
        <div class="col">
            <label asp-for="AdminSignature.PrintedName">Printed Name</label>
            <input asp-for="AdminSignature.PrintedName" readonly class="form-control form-control-sm" />
        </div>
        <div class="col">
            <label asp-for="AdminSignature.Date">Signed Date</label>
            <input asp-for="AdminSignature.Date" readonly class="form-control form-control-sm" type="date" />
        </div>
    </div>
}