@model FormInitiationSignatureModel
@if (ViewData.IsReadonly()) {
    <div class="form-row mt-4">
        <div class="col">
            <label asp-for="Email"></label>
            <input asp-for="Email" class="form-control form-control-sm" readonly/>
        </div>
        <div class="col">
            <label asp-for="PhoneNumber"></label>
            <input asp-for="PhoneNumber" class="form-control form-control-sm" readonly/>
        </div>
        <div class="col">
            <label asp-for="Position"></label>
            <input asp-for="Position" class="form-control form-control-sm" readonly/>
        </div>
    </div>
    <div class="form-row mt-4">
        <div class="col">
            <label asp-for="PrintedName">Printed Name</label>
            <input asp-for="PrintedName" class="form-control form-control-sm" readonly/>
        </div>
        <div class="col">
            <label asp-for="Date">Signed Date</label>
            <input asp-for="Date" class="form-control form-control-sm" type="date" readonly/>
        </div>
    </div>
    <div class="form-group row mb-3">
        <input asp-for="Signature" type="hidden" />
        <div class="col-sm-12">
            <div class="shadow signature mt-5" data-signature="@Model.Signature"></div>
        </div>
    </div>
}
else {
    <div class="form-row mt-4">
        <div class="col">
            <label asp-for="Email"></label>
            <input asp-for="Email" class="form-control form-control-sm" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="col">
            <label asp-for="PhoneNumber"></label>
            <input asp-for="PhoneNumber" class="form-control form-control-sm" />
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        </div>
        <div class="col">
            <label asp-for="Position"></label>
            <input asp-for="Position" class="form-control form-control-sm" />
        </div>
    </div>
    <div class="form-row mt-4">
        <div class="col">
            <label asp-for="PrintedName">Printed Name</label>
            <input asp-for="PrintedName" class="form-control form-control-sm" />
            <span asp-validation-for="PrintedName" class="text-danger"></span>
        </div>
        <div class="col">
            <label asp-for="Date">Signed Date</label>
            <input asp-for="Date" class="form-control form-control-sm" type="date" />
            <span asp-validation-for="Date" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row mb-3">
        <input asp-for="Signature" type="hidden" />
        <label asp-for="Signature" class="col-sm-2 col-form-label">Sign Below:</label>
        <div class="col-sm-12">
            <div class="shadow signature"></div>
        </div>
        <span asp-validation-for="Signature" class="text-danger mt-5 ml-5"></span>
    </div>
}