@model FormDetailModel
@{
    ViewData[ViewDataKeys.Title] = "Material Transfer Agreement";
}
    <form asp-controller="Form" asp-action="@nameof(FormController.InitiationForm)" method="post">
        <div asp-validation-summary="ModelOnly"></div>
        <partial name="_FormInformation" for="@Model" />
        <partial name="_InitiationForm" for="InitiationModel" />
        <input type="submit" class="btn btn-sm btn-sm btn-success col-12 mt-4" value="Submit form for signature" />
    </form>


@section Scripts{
    <script src="~/lib/jSignature/jSignature.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#signature").jSignature()
        })
    </script>
}