@model AddressDetailModel
<div class="row">
    <div class="col-sm-12 col-md-3">
        <div class="form-group">
            <label>Address Name</label>
            <input asp-for="Name" class="form-control form-control-sm" readonly />
        </div>
    </div>
    <div class="col-sm-12 col-md-3">
        <div class="form-group">
            <label>Address1</label>
            <input asp-for="Address1" class="form-control form-control-sm" readonly />
        </div>
    </div>
    <div class="col-sm-12 col-md-3">
        <div class="form-group">
            <label>Address2</label>
            <input asp-for="Address2" class="form-control form-control-sm" readonly />
        </div>
    </div>
    <div class="col-sm-12 col-md-3">
        <div class="form-group">
            <label>Address3</label>
            <input asp-for="Address3" class="form-control form-control-sm" readonly />
        </div>
    </div>
    <div class="col-sm-12 col-md-3">
        <div class="form-group">
            <label>City</label>
            <input asp-for="City" class="form-control form-control-sm" readonly />
        </div>
    </div>
    <div class="col-sm-12 col-md-3">
        <div class="form-group">
            <label>State</label>
            <input asp-for="State" class="form-control form-control-sm" readonly />
        </div>
    </div>
    <div class="col-sm-12 col-md-3">
        <div class="form-group">
            <label>Zipcode</label>
            <input asp-for="ZipCode" class="form-control form-control-sm" readonly />
        </div>
    </div>
</div>

