@model OrderItemDetailModel
<li class="list-group-item shadow-sm border-0 mt-3">
    @using (Html.BeginCollectionItem("Cart")) {
        <partial name="_AuditInformation" for="@Model" />
        <partial name="_ItemInformation" for="Item" />
        <div class="form-row">
            <div class="form-group col-2">
                <label asp-for="Quantity">Quantity</label>
                <input class="form-control form-control-sm" readonly type="number" asp-for="Quantity">
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group col-10">
                <label asp-for="SpecialInstructions">Special Instructions</label>
                <input class="form-control form-control-sm" readonly asp-for="SpecialInstructions">
                <span asp-validation-for="SpecialInstructions" class="text-danger"></span>
            </div>
        </div>
        @if(ViewData[ViewDataKeys.Readonly] == null || (bool)ViewData[ViewDataKeys.Readonly] == false) {
            <button type="button" class="btn btn-sm btn-danger collection-remove" onclick="removeCollectionItem(this);" data-for=".list-group-item"><i class="fas fa-trash-alt"></i></button>
        }
    }
</li>