@model AddressDetailModel
<div class="form-row">
    <div class="col-auto">
        <input asp-for="Name" class="form-control-plaintext" readonly />
    </div>
    <div class="col-auto">
        <input asp-for="City" class="form-control-plaintext" readonly />
    </div>
    <div class="col-auto">
        <input asp-for="State" class="form-control-plaintext" readonly />
    </div>
    <div class="col-auto">
        <input asp-for="ZipCode" class="form-control-plaintext" readonly />
    </div>
    <div class="col-auto">
        <input asp-for="Address1" class="form-control-plaintext" readonly />
    </div>
    <div class="col-auto">
        <input asp-for="Address2" class="form-control-plaintext" readonly />
    </div>
    <div class="col-auto">
        <input asp-for="Address3" class="form-control-plaintext" readonly />
    </div>
</div>
