@model OrderAddressDetailModel
<li class="list-group-item list-group-item-action clickable" onclick="">
    <input asp-for="Type" type="hidden" />
    <partial name="_AddressView" for="Address" />
</li>
