@model OrderDetailModel
<div class="row">
    <div class="col-2">
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link active" id="item-tab" data-toggle="pill" href="#item-content" role="tab" aria-controls="item-content" aria-selected="true">Materials Requested</a>
            <a class="nav-link" id="shipping-tab" data-toggle="pill" href="#shipping-content" role="tab" aria-controls="shipping-content" aria-selected="false">Shipping Information</a>
            <a class="nav-link" id="billing-tab" data-toggle="pill" href="#billing-content" role="tab" aria-controls="billing-content" aria-selected="false">Billing Information</a>
            <a class="nav-link" id="review-tab" data-toggle="pill" href="#review-content" role="tab" aria-controls="review-content" aria-selected="false">Review Order</a>
        </div>
    </div>
    <div class="col-10">
        <div class="tab-content" id="v-pills-tabContent">
            <div class="tab-pane fade show active" id="item-content" role="tabpanel" aria-labelledby="item-tab">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Materials Requested</h5>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="shipping-content" role="tabpanel" aria-labelledby="shipping-tab">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Shipping Information</h5>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="billing-content" role="tabpanel" aria-labelledby="billing-tab">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Billing Information</h5>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="review-content" role="tabpanel" aria-labelledby="review-tab">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Review Order</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>