@model OrderAddressDetailModel
<li class="list-group-item shadow border-0 mb-3 list-group-item-action clickable" onclick="onAddressSelect(this)">
    <input asp-for="Type" type="hidden" />
    <partial name="_AddressView" for="Address" />
</li>
