@model int
<form asp-action="@nameof(OrderController.Create)" asp-controller="Order" method="get" id="selectCustomer">
    <div class="form-group has-search mb-0">
        <span class="fa fa-search form-control-feedback"></span>
        <input type="text" class="form-control" id="customer-autocomplete" style="width:300px;" data-url="@Url.Action(nameof(CustomerController.Search),"Customer")" />
    </div>
</form>