@model OrderCenterModel
@{
    ViewData[ViewDataKeys.Title] = "Order Center";
}
<div class="row">
    <div class="col-md-12 col-lg-2">
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link active" id="review-tab" data-toggle="pill" href="#review-content" role="tab" aria-controls="review-content" aria-selected="true">
                Orders Ready To Review <span class="badge badge-light">@Model.OrdersReadyToReviewCount</span>
            </a>
            <a class="nav-link" id="process-tab" data-toggle="pill" href="#process-content" role="tab" aria-controls="process-content" aria-selected="true">
                Orders Ready To Process <span class="badge badge-light">@Model.OrdersReadyToProcessCount</span>
            </a>
            <a class="nav-link" id="complete-tab" data-toggle="pill" href="#complete-content" role="tab" aria-controls="complete-content" aria-selected="true">
                Orders Ready To Complete <span class="badge badge-light">@Model.OrdersReadyToCompleteCount</span>
            </a>
        </div>
    </div>
    <div class="col-md-12 col-lg-10">
        <div class="card">
            <div class="card-body">
                <div class="tab-content" id="v-pills-tabContent">
                    <div class="tab-pane fade show active" id="review-content" role="tabpanel" aria-labelledby="review-tab">
                        <h5 class="card-title shadow p-4 mr-3 ml-3 mb-5">Orders Ready To Review</h5>
                        <partial name="_OrderList" model="Model.OrdersReadyToReview" view-data="new ViewDataDictionary(ViewData) { { ViewDataKeys.Action,nameof(OrderController.Review)} }" />
                    </div>

                    <div class="tab-pane fade" id="process-content" role="tabpanel" aria-labelledby="process-tab">
                        <h5 class="card-title shadow p-4 mr-3 ml-3 mb-5">Orders Ready To Process</h5>
                        <partial name="_OrderList" model="Model.OrdersReadyToProcess" view-data="new ViewDataDictionary(ViewData) { { ViewDataKeys.Action,nameof(OrderController.Process)} }" />
                    </div>
                    <div class="tab-pane fade" id="complete-content" role="tabpanel" aria-labelledby="complete-tab">
                        <h5 class="card-title shadow p-4 mr-3 ml-3 mb-5">Orders Ready To Complete</h5>
                        <partial name="_OrderList" model="Model.OrdersReadyToComplete" view-data="new ViewDataDictionary(ViewData) { { ViewDataKeys.Action,nameof(OrderController.Complete)} }" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


