@inject IConfiguration Configuration
@model OrderCompleteDetailModel
@{
    ViewData[ViewDataKeys.Title] = "Complete";
}
<partial name="_OrderDetails" model="Model.OrderReview.Order" />
@foreach (var shipment in Model.Shipments) {
    <partial name="~/Views/Shipment/_ShipmentDetails.cshtml" model="shipment" />
}
<div class="card mt-5 p-3">
    <form asp-action="@nameof(OrderController.Complete)" asp-controller="Order" method="post">
        <input type="hidden" asp-for="OrderReview.Order.Id" />
        <div class="btn btn-group col-md-12 mt-5">
            <button type="button" class="btn btn-danger"
                    data-toggle="modal"
                    data-target="#siteModal"
                    data-title="Confirm cancel order"
                    data-content="Are you sure you want to cancel this order?"
                    data-submittext="Cancel this order"
                    data-submitvalue="@OrderStatus.Cancelled">
                Cancel this order
            </button>
            <button type="submit" name="OrderReview.Action" value="@OrderStatus.Complete" class="btn btn-success">Complete this order</button>
        </div>
        <partial name="_Prompt" />
    </form>
</div>
@section Scripts{
    <script type="text/javascript" src="@Configuration["FileUploadUri"]"></script>
}