@model OrderDetailModel
@{
    ViewData[ViewDataKeys.Title] = "Edit Order";
}
<form asp-action="@nameof(OrderController.Edit)" asp-controller="Order" method="post">
    <partial name="_OrderForm" for="@Model" />
</form>
@section Scripts{
    <script src="~/js/order.js" type="text/javascript"></script>
}
