@model List<OrderItemModel>
@{
    ViewData[ViewDataKeys.Title] = "My Orders";
    ViewData[ViewDataKeys.Info] = "Click on an order to view the order details";
}
@if (Model.Any(x => x.AwaitingCustomerApproval)) {
    <div class="card">
        <div class="card-header">
            <h5 class="card-title mb-0">Amended Orders Awaiting Approval</h5>
        </div>
        <div class="card-body">
            <i>Click on an order to review</i>
            <partial name="_OrderList" model="Model.Where(x=>x.AwaitingCustomerApproval).ToList()" view-data="new ViewDataDictionary(ViewData) { { ViewDataKeys.Action,nameof(OrderController.ReviewAmendment)} }" />
        </div>
    </div>
}
<partial name="_OrderList" model="Model" />