@model OrderProcessDetailModel
@{
    ViewData[ViewDataKeys.Title] = "Process";
}
<partial name="_OrderDetails" model="Model.OrderReview.Order" />
<div class="card mt-5 p-3">
    <form asp-action="@nameof(OrderController.Process)" asp-controller="Order" method="post">
        <input type="hidden" asp-for="OrderReview.Order.Id" />
        <i class="mt-4">Confirm the materials to be shipped</i>
        <partial name="_OrderProcessItemList" for="Shipment.Items" />
        <div class="mt-5">
            <i class="mt-4">Confirm the shipping information</i>
            <partial name="_Address" for="Shipment.Shipping" />
        </div>
        <div class="btn btn-group col-md-12 mt-5">
            <button type="button" class="btn btn-danger"
                    data-toggle="modal"
                    data-target="#siteModal"
                    data-title="Confirm cancel order"
                    data-content="Are you sure you want to cancel this order?"
                    data-submittext="Cancel this order"
                    data-submitvalue="@OrderStatus.Cancelled">
                Cancel this order
            </button>
            <button type="submit" name="OrderReview.Action" value="@OrderStatus.InProcess" class="btn btn-success">Proceed to shipment details</button>
        </div>
        <partial name="_Prompt" />
    </form>
</div>