@model OrderReviewDetailModel
@{
    ViewData[ViewDataKeys.Title] = "Review";
}

<partial name="_OrderDetails" model="Model.Order" />
<form asp-action="@nameof(OrderController.Review)" asp-controller="Order" method="post">
    <input type="hidden" asp-for="Order.Id" />
    <div class="btn btn-group col-12 mt-5">
        <button type="submit" name="Action" value="@OrderStatus.Denied" class="btn btn-danger">Deny this order</button>
        <button type="submit" name="Action" value="@OrderStatus.Approved" class="btn btn-success">Approve this order</button>
    </div>
</form>
