@model IsotopeOrdering.App.Models.Details.FormDetailModel
<span>Customer @Model.Customer.Contact.FullName has requested your approval for their Material Transfer Agreement (MTA).</span>
Please click here to view their MTA to review and sign.