@model IsotopeOrdering.App.Models.Notifications.ExternalMtaNotification
<span>Customer @Model.Form.Customer.Contact.FullName has requested your approval for their Material Transfer Agreement (MTA).</span>
Please click <a href="@Model.FormUrl">here</a> to view their MTA to review and sign.