html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 30px;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
}

label {
    margin-bottom: .1rem;
}

.form-group {
    margin-bottom: .75rem;
}

.card-body {
    padding: 1rem;
}

footer {
    position: fixed;
    width: 100%;
    bottom: 0px;
    background: white;
    z-index: 100;
    font-size: 12px;
    border-top: 1px solid #e8e8e8;
}

.nav-item,
.navbar-brand,
.navbar-text {
    margin-left: 10px;
}

.navbar-dark .navbar-nav .nav-link,
.dropdown-item {
    color: white;
}

.logo-header {
    background-color: #3c3d3d;
    padding-top: 15px;
}

    .logo-header .row {
        padding: 0px 15px 15px 15px;
        display: block;
    }

#wusmLogo {
    width: 115px;
}

#mirLogo {
    width: 180px;
    margin-left: 25px;
}

.navbar {
    padding: unset;
}

.custom-select {
    background-image: unset;
}

.breadcrumb {
    padding: 0.5rem 1rem;
}

.table-fadein {
    display: none;
}

.file-upload-section .card-header,
.comment-section .card-header {
    font-size: 16px;
    padding: .5rem .5rem;
}

.error,
.field-validation-error {
    font-size: .8em;
    color: var(--red);
}

.ui-autocomplete-loading {
    background: url('/images/loading_spinner.gif') no-repeat right center;
}

.validation-summary-valid {
    display: none;
}

.clickable {
    cursor: pointer;
}


.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

.upload-container {
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

    .upload-container .dropzone {
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
    }

        .upload-container .dropzone .dz-message {
            margin: 1.5em 0;
        }
